* {
  margin: 0px; 
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
}

.bg-purple {
  background-color: #bb2649;
}

.headerWrapper .top-strip {
  padding: 8px 0px;
}

.headerWrapper .top-strip p {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 15px;
  font-weight: 500;
}

.countryDrop {
  display: flex !important;
  align-items: center;
}

.logoWrapper img{
  width: 50%;
  height: auto;
}

.headerWrapper .header .part2 .countryDrop{
  width: 150px;
  height: 60px;
  min-width: 150px;
  color: #000 !important;
  border: 1px solid rgba(0,0,0,0.2) !important;
  padding: 10px 10px;
  border-radius: 7px !important;
}

.headerWrapper .header .part2 .countryDrop{
  text-align: left;
  justify-content: flex-start !important;
}

.headerWrapper .header .part2 .countryDrop .lable{
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0,0,0,0.4);
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop .name{
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #FFA726;
  font-weight: 700;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop span.ml-auto svg{
  opacity: 0.7;
}